################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.so
*.pyd
*.symm
*.coverage

# Image files generated
*.png
*.svg
*.pdf

# ipython checkpoints
**/.ipynb_checkpoints/**
.vscode/*

# csv files
*.csv

# pycharm files
*.idea/

# Gaussian scratch files and ase related io files
*.symm
*.ase
*.com

*.ts
*.kinetics
